html, body, ul {
	margin: 0;
}

body{
	font-family: "Chakra Petch", monospace ;
}


#main-page {
  background-image: url('./assets/img3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
#background-bar {
  background-color: #200524;
  color: #7A797F;
}

#additional-bar {
    margin-left: 10%;
    width: 80%;
    display: inline-grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

#additional-bar #icons {
  text-align: right;
}

.fa {
	padding-right:2%;
}


header {
	background-color: rgba(55, 40, 61, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spacing {
  margin-left: 10%;
  display: inline-grid;
  width: 80%;
  grid-template-columns: 20% 80%;
  align-items: center;
}
#logo {
  font-size: 1.5em;
}

.headerElement {
	font-size: 1.2em;
	color: #37FA91;
    text-shadow:
    0 0 5px #37FA91,
    0 0 10px #37FA91,
    0 0 20px #37FA91,
    0 0 40px #78737A,
    0 0 80px #78737A,
    0 0 90px #78737A,
    0 0 100px #78737A,
    0 0 150px #78737A;
	display: inline-block;
}

.blinking {
	animation: blink infinite 1.5s;
}

@keyframes blink {
  10% {
    color: purple;
    opacity: 0;
  }
  11% {
    color: #fff;
    opacity: 1;
  }
  18% {
    color: purple;
    opacity: 0;
  }
  19% {
    color: #fff;
    opacity: 1;
  }
}

ul {
  padding: 0;
  text-align: right;
}

li {
	padding-left: 5%;
	display: inline;
}

li:hover {
	cursor: pointer;
	color: #7A797F;
  text-shadow:
    0 0 5px #7A797F,
    0 0 10px #7A797F,
    0 0 20px #7A797F,
    0 0 40px #81717E,
    0 0 80px #81717E,
    0 0 90px #81717E,
    0 0 100px #81717E,
    0 0 150px #81717E;
    transition: 0.5s;
}

#content {
	width: 40%;
	margin-left: 10%;
	margin-top: 15%;
	color: #7A797F;
}

.buttons {
   cursor: pointer;
  font-family: "Chakra Petch", monospace;
  padding: 1rem 1.25rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #37FA91;
  border: 2px solid;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 
    0 1px 2px rgba(0,0,0, 0.6), 
    2px 1px 4px rgba(0,0,0, 0.3), 
    2px 4px 3px rgba(219, 67, 105, 0.3), 
    0 0 7px 2px rgba( 181, 32, 86, 0.6), 
    inset 0 1px 2px rgba(0,0,0, 0.6), 
    inset 2px 1px 4px rgba(0,0,0, 0.3), 
    inset 2px 4px 3px rgba(219, 67, 105, 0.3), 
    inset 0 0 7px 2px rgba( 181, 32, 86, 0.6);
  animation: flickering 5s infinite;
}

@keyframes flickering {
  0% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  2% {
    border-color:#710D46;
    opacity: 1;
  }
  
  4% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  8% {
    border-color: #710D46;
    opacity: 1;
  }
  
  28% {
    border-color: #710D46;
    opacity: 1;
  }
  
  30% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  36% {
    border-color: #710D46;
    opacity: 1;
  }
  
  100% {
    border-color: #710D46;
    opacity: 1;
  }
	
}

#content p {
    margin-top: 0;
	font-size: 1.3rem;
}

#appointment {
  background-color: #81717E;
  width: 80vw;
  margin-left: 10%;
  margin-top: -10vh;
  animation: glow 5s infinite ;
}

#back-fix {
  position: absolute;
  background-color: #200524;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

@keyframes glow{
  0%{
  box-shadow: 5px 5px 20px rgb( 181, 32, 86),-5px -5px 20px rgb( 181, 32, 86);}
  
  50%{
  box-shadow: 5px 5px 20px rgb(122, 121, 127),-5px -5px 20px rgb(122, 121, 127)
  }
  100%{
  box-shadow: 5px 5px 20px rgb( 181, 32, 86),-5px -5px 20px rgb( 181, 32, 86)
  }
}

#appointment fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

#appointment fieldset div {
  display: inline-block;
  text-align: left;
  margin: 2% 5% 2% 3%;
}


label {
   color: #200524;
   font-size: 1.2rem;
}

#appointment fieldset input {
  background-color: #200524;
  border-radius: 4px;
  border: 0;
  padding: 5%;
  color: #78737A;
}

#form {
  text-align: center;
}

#appointment #forButton {
  text-align: center;
  padding: 1% 0 3% 0;
}


#about {
  background: linear-gradient(180deg, rgba(32,5,36,1) 35%, rgba(33,27,53,1) 75%);
}

#about img {
  height: 90vh;
  object-fit: cover;
  width: 50%;
}

#text-spacing {
  padding: 2%;
}

#main-info {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container-scalability {
  display: inline-flex;
  flex-wrap: wrap;
}

#main-text {
  padding-top: 10%;
  color: #DDD1DF;
  max-width: 41%;
}

#main-text h2, #services-info h1, #team-info h1 {
  margin: 0;
  color: #4F1E9E;
  text-shadow:
          0 0 5px #B075A3,
          0 0 10px #B075A3,
          0 0 20px #B075A3,
          0 0 40px #481D89,
          0 0 80px #481D89,
          0 0 90px #481D89,
          0 0 100px #481D89,
          0 0 150px #481D89;
}


#main-text h3 {
  margin: 0;
}

#main-text #statistics {
  animation: glow 5s infinite ;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #B075A3;
  text-align: center;
}

#statistics .data span {
  font-size: 1.7em;
}

#statistics .data  {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#services-info {
  min-height: 100vh;
  background-color: #211B35;
  text-align: center;
}

#services-info h3, #team-info p {
  color: #DDD1DF;
  font-size: 1.3em;
  margin: 0;
}

#services-info h1 {
  margin-bottom: 3%;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
  grid-gap: 5vh;
}

.alt-text {
  text-align: left;
  display: inline-block;
  float: right;
  max-width: 60%;
  color: #DDD1DF;
}

#services-info .alt-text h3 {
  margin-top: 0;
  font-size: 1.6em;
  color: #B075A3;
  text-shadow:
          0 0 5px #481D89,
          0 0 10px #481D89,
          0 0 20px #481D89,
          0 0 40px #481D89,
          0 0 80px #481D89
}

.grid-item img {
  max-width: 30%;
  display: inline;
  float: left;
  margin-right: 2%;
}

#services-container {
  padding-top: 9%;
  margin-left: 10%;
  margin-right: 10%;
}

#team-page {
  background: linear-gradient(0deg, rgba(32,5,36,1) 35%, rgba(33,27,53,1) 100%);
}

#container-evas {
  margin-top: 10vh;
  display: inline-flex;
  margin-right: 10%;
  margin-left: 10%;
}
#evas-cards {
  text-align: center;
  width: 60%;
  display: inline-block;
}
#team-info {
  width: 39%;
  display: inline-block;
  vertical-align: top;
}
#team-info button {
  margin-top: 10%;
}
#team-info h1 {
  margin-bottom: 4%;
}

.evas {
  max-height: 25vh;
}

.evas:hover {
  animation: glow 5s infinite ;
  transition: 1s;
  -webkit-filter: grayscale(100%);;
}

#evas-cards {
  text-align: right;
}
#evas-cards .overlay {
  margin: 1%;
  display: inline-block;
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;
}

.text {
  margin: 0;
  color: #B075A3;
  text-shadow:
          0 0 5px #481D89,
          0 0 10px #481D89,
          0 0 20px #481D89,
          0 0 40px #481D89,
          0 0 80px #481D89;
  font-size: 1.2em;
}
.overlay:hover .text {
  opacity: 1;
}

